<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.david916.ibuy.ibuy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="iBuy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_item"
            android:label="Add a new item" />
        <activity
            android:name=".group"
            android:label="Purchasing Group" />
        <activity
            android:name=".Register"
            android:label="Join us right now!" />
        <activity
            android:name=".upload"
            android:label="Add a new item" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about"
            android:label="About" />
        <activity android:name=".add_category"></activity>
    </application>

</manifest>